.diploma {
    width: 100%;
    padding-top: 40px;
}

.diploma__titile {
    padding-bottom: 30px;
    text-align: center;
}

.diploma__content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    position: relative;
}

.diploma__img {
    width: 100%;
    height: 100%;
}