*{
    margin: 0;
    padding: 0;
}

.navtab {
    width: 390px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navtab__item {
    padding-right: 10px;
    cursor: pointer;
}